# -----------------------------
# Глобальные настройки
# -----------------------------
APP_ENV=production

# -----------------------------
# Основной PostgreSQL (backend + повторное использование учетных данных для БД keycloak)
# -----------------------------
POSTGRES_DB=project_db
POSTGRES_USER=project_user
POSTGRES_PASSWORD=project_password

# -----------------------------
# Keycloak
# -----------------------------
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_DB=keycloak_db

# -----------------------------
# База данных SpiffWorkflow
# -----------------------------
SPIFF_DB_NAME=spiff_db
SPIFF_DB_USER=spiff_user
SPIFF_DB_PASSWORD=spiff_password
SPIFFWORKFLOW_BACKEND_BPMN_SPEC_ABSOLUTE_DIR=/app/process_models

# -----------------------------
# Novu
# -----------------------------
NOVU_DB_USER=novu
NOVU_DB_PASSWORD=novu_password
NOVU_JWT_SECRET=change_me_novu_jwt_secret
NOVU_STORE_ENCRYPTION_KEY=change_me_novu_store_key_32_chars
NOVU_NEW_RELIC_APP_NAME=project-novu
NOVU_NEW_RELIC_ENABLED=false


